#log{
    width: 150px;
    /*resize: both;
    overflow: auto;*/
}

#logData{
    background-color: black;
    color: chartreuse;
    resize: vertical;
    max-height: 200px;
    overflow-y: scroll;
}